stepfunctions/workflow.yaml
StartAt: LoadConfig
States:
  LoadConfig:
    Type: Task
    Resource: arn:aws:lambda:${region}:${account}:function:LoadConfig-${env}
    Next: ProcessSchemas
  ProcessSchemas:
    Type: Map
    InputPath: $.schemas
    Parameters:
      "schema.$": "$$.Map.Item.Value"
    Iterator:
      StartAt: ProcessSingleSchema
      States:
        ProcessSingleSchema:
          Type: Task
          Resource: arn:aws:lambda:${region}:${account}:function:ProcessSchema-${env}
          End: true
    Next: AggregateResults
  AggregateResults:
    Type: Task
    Resource: arn:aws:lambda:${region}:${account}:function:AggregateResults-${env}
    Next: NotifySlack
  NotifySlack:
    Type: Task
    Resource: arn:aws:lambda:${region}:${account}:function:NotifySlack-${env}
    End: true
